.dashboard {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 25px;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.filters select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* Insights */
.insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

/* Charts */
.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.chart-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 15px;
}

.chart-card.full {
  grid-column: span 2;
}

.chart-card h3 {
  margin-bottom: 15px;
  text-align: center;
}
.logout-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px 18px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #dc2626;
}